<div class="not-found-container" [class.text-right]="lang.currentLanguage === 'he'" [class.text-left]="lang.currentLanguage === 'en'">
  <!-- TEMP:ANGULAR_404_MARKER -->
  <small style="opacity:.3; position: absolute; top: 0; left: 0; padding: 4px; font-size: 10px;">ANGULAR_404</small>
  <div class="not-found-content">
    <h1 class="not-found-title">404</h1>
    <p class="not-found-message">{{ lang.t('notFound.pageNotFound') }}</p>
    <a routerLink="/" class="not-found-button">
      {{ lang.t('notFound.goHome') }}
    </a>
  </div>
</div>
