[build]
  base = "ng"
  command = "npm install && npx ng build --configuration=production"
  publish = "dist/ng/browser"

[build.environment]
  NODE_VERSION = "20"
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
